body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333333;

}

img{
  max-width: 100% !important;
}

@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}

body.com_contraste,
body.com_contraste * {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #fff !important;
  filter: grayscale(1);
}

body.com_contraste .topo-imagem {
  display: none;
}

.pagina_site {
  min-height: 300px;
}

a:hover,
a:focus {
  color: #01652c;
  text-decoration: none;
}

/* MENU 1 */
.topo1-back {
  min-height: 30px;
  background: #f9f9f9;
}

.topo1 .navbar {
  min-height: 32px !important;
}

.topo1 .navbar-nav>li>a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 32px;
  padding-left: 5px;
  padding-right: 5px;
}

#submenu-navbar li a:hover{
  color: #333;
  background-color: transparent;
}

#submenu-navbar .dropdown-menu li a:hover{
  background-color: #156540;
  color: white;
}

@media (min-width: 768px) and (max-width: 991px) {
  .topo1 .navbar-nav>li>a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.topo-logo {
  padding-top: 0;
}

.topo-logo .logoPm {
  width: 340px;
  display: inline-block;
  margin-left: -4px;
}
.topo-logo .logoPmAnos {
  width: 100px;
}

label {
  margin-bottom: -5px;
}
/* MENU PRINCIPAL */
.menu {
  padding: 0;
}
.menu .caret {
  color: #fff;
}
.menu-fundo {
  min-height: 50px;
  background: #1b5237;
}
.menu-fundo-inferior {
  background: #e9e9e9;
  margin-top: 7px;
}
.menu-fundo-inferior div div ul li a {
  color: #156540 !important;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px 10px 5px;
}
.menu-fundo-inferior div div ul li a:hover {
  background: #dddddd !important;
  display: block;
  text-decoration: none;
}
.menu-linha {
  height: 6px;
}
.menu-linha1 {
  background: url("../img/menu_linha1.jpg") repeat-x 0 0;
}
.menu-linha2 {
  background: url("../img/menu_linha2.jpg") repeat-x 0 0;
}
.menu a {
  color: #fff;
}
.menu .nav>li>a {
  padding: 14px 1px 10px 13px;
}
.menu-container {
  margin: 0;
}

.menu .navbar-nav {
  text-align: center;
}
.menu-navbar-brand {
  float: right;
  color: #fff;
}
.menu-navbar-brand:hover{
  color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu .nav>li>a {
    font-size: 0.79em;
    padding: 12px 5px 3px 3px;
  }
}
@media (min-width: 768px) {
  .menu .navbar-nav>li {
    float: none !important;
    display: inline-block !important;
  }

  .nav>li>a {
    text-align: center;
  }
}
@media (max-width: 767px) {
  nav.navbar {
    background: #00923f;
  }
  .nav>li {
    padding-left: 30px;
  }
  .nav>li>a {
    text-align: left;
  }
  .menu .navbar-nav {
    text-align: left;
  }
  .menu .navbar-nav>li {
    display: block !important;
  }
  .menu .navbar-header,
  .container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar {
  border-radius: 0;
  margin: 0;
}
.navbar .container-fluid {
  padding: 0;
}
.navbar .navbar-toggle {
  border: 1px solid #fff;
}
.navbar .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-nav>li>a {
  padding-top: 12px;
}
.nav>li>a {
  color: #ffffff;
  font-size: 12px;
}
.nav>li>a:hover {
  text-decoration: underline;
  background: transparent;
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open>a,
.nav .open>a:hover {
  background: #00923f;
  border: none;
}

.navbar-nav {
  width: 100%;
}
.dropdown-menu {
  background: #1b5237;
  border: 1px solid #156540;
}
.dropdown-menu>li>a {
  color: #ffffff;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background: #156540;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 991px) {
  .dropdown-menu>li>a {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

/*Sub-Menu*/
.navbar-default {
  background: none;
  border: none;
}

@media (max-width: 767px) {
  nav.navbar {
    background: none;
  }
}

.submenu li a {
  font-size: 12px;
}
.submenu li>a.dropdown-toggle:hover,
.menu a.dropdown-toggle:hover {
  text-decoration: none;
  background-color: #156540;
}
.submenu-dropdown {
  border: none !important;
  border-radius: 0 !important;
}
.submenu-dropdown li a:hover {
  background: #e4e4e4 !important;
}
.submenu-navbar-toggle {
  margin-right: 27px;
  background: #00923f !important;
}
.submenu-navbar-brand {
  float: right;
  color: #00923f !important;
}
.submenu-navbar-brand:hover{
  color: #00923f !important;
}

/*pesquisa - social */
.pesquisa {
  width: 200px;
  display: inline-block;
  margin-top: 57px;
}
.social {
  width: 80px;
  display: inline-block;
  margin-top: 57px;
}
.social img {
  width: 33px;
}
.social div {
  display: inline-block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pesquisa {
    width: 150px;
  }
  .social img {
    padding-bottom: 5px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .social {
    margin-top: 0;
    padding-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .pesquisa {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* botoes de acessibilidade */
.accessibility-buttons-container{
 padding-top: 5px; 
}
.btn-xs{
  background-color: #AAB2BD;
}

/* carousel */
.item img {
  width: 100%;
}

/* nav-slide */
.nav-slide{
  padding-left: 0; 
  background-color: #efefef;
}
.nav-slide li a{
  color: black;
  padding-left: 0 !important;
}
.noticias{
  background-color: #efefef;
  margin-top: 20px;
  padding: 0;
}
.titulo-noticias{
  padding-left: 13px;
}
.colunas-noticias{
  padding-top: 10px;
}
.noticia-img img{
  padding: 3px;
  border: 1px solid #afafaf;
}
.noticia-data{
  margin-top: 15px;
  margin-bottom: 15px;
}
.noticia-data span{
  padding: 7px;
  background-color: #156540;
  color: white;
  border: 2px solid #afafaf;
}
.noticia-info{
  margin-bottom: 10px;
}
.noticia-info a{
  color: red;
  font-size: 14px;
  font-weight: bold;
}
.noticia-resumo a{
  color: #646464;
  text-decoration: underline;
}
.veja-mais{
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.carousel-vg{
  margin-top: 20px;
}
.acesso-rapido{
  margin-top: 20px;
}
.acesso-rapido img{
  margin-top: 20px;
  width: 100%;
}
.btn-home{
  background-color: #dddddd;
  color: black;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 3px;
  width: 160px;
  margin-left: 0;
  margin-right: 3px;
  text-align: center;
}
.btn-home p{
  padding-top: 5px;
}
.btn-home:hover{
  background-color: #afafaf;
}
.icon-container {
  margin-left: 35px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #156540;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  }
  .icon-container > a i {
  font-size: 25px;
  color: white;
  }
  @media (min-width: 390px) and (max-width: 844px) {
    .row-btn {
      margin-left: 15px;
    }
  }

  @media (max-width: 389px){
    .row-btn{
      margin-left: 15px;
    }
  }